*{
  margin: 0px;
  padding: 0px;
}
body{
  overflow-x: hidden;
}
.homeContainer {
  width: 1536px;
  background: url(../public/images/homeBg.png);
  height: 722px;
  flex-shrink: 0;
}
.brandLogoCenter{
  height: 100vh;
  background:#181C28;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  padding: 46px 150px 0px 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.socialIcons {
  margin: auto 0px;
}

.socialIcons img:nth-child(1) {
  height: 24px;
  width: 13px;
}
.socialIcons img:nth-child(1):hover {
  filter: invert(42%) sepia(65%) saturate(4266%) hue-rotate(206deg) brightness(94%) contrast(99%);
}
.socialIcons img:nth-child(2):hover {
  filter: invert(69%) sepia(57%) saturate(4949%) hue-rotate(176deg) brightness(92%) contrast(106%);
}
.socialIcons img:nth-child(3):hover {
  filter: invert(42%) sepia(84%) saturate(7206%) hue-rotate(200deg) brightness(88%) contrast(92%);
}
.socialIcons img:nth-child(2) {
  height: 24px;
  width: 28px;
  margin: 0px 60px;
}
.socialIcons img:nth-child(2) {
  height: 24px;
  width: 25px;
}

/* homeContent start */
.homeContent {
  padding: 0px 150px;
}
.homeContent h1 {
  color: var(--text-white, #f8f8f8);
  font-family: Inria Serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.homeContent p {
  color: var(--text-white, #f8f8f8);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.p1 {
  margin-top: 45px;
  margin-bottom: 20px;
}
.p2 {
  margin-bottom: 45px;
}
.homeContent button {
  color: #fff;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 387px;
  height: 66.861px;
  background-color: transparent;
  border: 2px solid #9b70f8;
  border-radius: 4px;
}

 
.homeContent button:hover{
  transition: ease 2s all;
  background: #9b70f8;
}

.headers{
  padding: 60px 0px;
  position: relative;
  animation: slide 1s ease-in;
}
@keyframes slide {
  0%{
    left: -800px;
  } 
  100%{
    left: 0px;
  }
}
.bannerImg img{
  margin-top: -50px;
  position: relative;
  right: -150px;
  animation: imgSlide 1s ease-in;
}
@keyframes imgSlide {
  0%{
    right: -800px;
  } 
  100%{
    right: -150px;
  }
}
/* homeContent end */

/* bookGallery start */

.Slide{
  display: flex;
  overflow: auto;
}
.Slide::-webkit-scrollbar{
  display: none;
}
.Slide img{
  margin: 30px 20px;
}
.Slide img:first-child{
  margin-left: 0px;
}

.bookGallery h1 {
  text-align: center;
  color: #232323;
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 137.5% */
  text-transform: uppercase;
  margin-top: 30px;
}
/* bookGallery end */

/* detail start */
.detail {
  padding: 60px 150px;
}
.detail h1 {
  margin: auto 0px;
  color: #232323;

  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 137.5% */
  text-transform: uppercase;
  width: 556px;
}
.firstH1 {
  margin-left: 80px !important;
  text-align: right;
}
.detail img {
  border-radius: 12px;
}
.firstH2 {
  margin-right: 80px !important;
}
/* detail end */

/* footer start */
.footer {
  background: #181c28;
  height: 660.788px;
  padding: 0px 150px;
}
.footer h1 {
  color: var(--text-white, #f8f8f8);
  font-family: Archivo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer p {
  color: var(--text-white, #f8f8f8);
  font-family: Archivo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.8%;
  margin-bottom: 50px;
}
.footerContent img {
  width: 297px;
  height: 88px;
}
.footerContent img:last-child{
  margin-top: 30px;
}
.playButton:hover{
  scale: 1.1;
  margin-left: 25px;
  transition: ease-in .5s;
}

/* footer end */

/* copyRight start */
.copyRight{
  padding: 60px 150px;
  background: #FFFCF9;
}
.copyRight p{
  text-align: center;
  color: var(--body-black, #404040);
font-family: Archivo;
font-size: 28px !important;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0px;
}
/* copyRight start */

/* banner css start */

/* img {
  max-width: 150px;
  height: 5rem;
  padding: 0 15px;
  object-fit: cover;
}

img:last-of-type {
  padding-left: 0;
} */

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 240px;
}
.image{
  margin: 30px 20px;
}
.wrapper {
  position: absolute;
  display: flex;
}

.leftSlide {
  display: flex;
  animation: swipeleft var(--speed) linear infinite backwards;
}

@keyframes swipeleft {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-100%);
  }
}
.rightSlide {
  display: flex;
  animation: swiperight var(--speed) linear infinite forwards;
}

@keyframes swiperight {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0%);
  }
}

/* banner css end */