.homeContainer {
  width: 1536px;
  background: url(../public/images/homeBg.png);
  height: 722px;
  flex-shrink: 0;
}
.nav {
  padding: 46px 150px 0px 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.socialIcons {
  margin: auto 0px;
}
.socialIcons img:nth-child(1) {
  height: 24px;
  width: 13px;
}
.socialIcons img:nth-child(2) {
  height: 24px;
  width: 28px;
  margin: 0px 60px;
}
.socialIcons img:nth-child(2) {
  height: 24px;
  width: 25px;
}

/* homeContent start */
.homeContent {
  padding: 60px 150px;
}
.homeContent h1 {
  color: var(--text-white, #f8f8f8);
  font-family: Inria Serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.homeContent p {
  color: var(--text-white, #f8f8f8);
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.p1 {
  margin-top: 45px;
  margin-bottom: 20px;
}
.p2 {
  margin-bottom: 45px;
}
.homeContent button {
  color: #fff;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 387px;
  height: 66.861px;
  background-color: transparent;
  border: 2px solid #9b70f8;
  border-radius: 4px;
}
.bannerImg img {
  position: relative;
  top: -100px;
  left: 150px;
}
/* homeContent end */

/* bookGallery start */
.bookGallery {
  margin-top: -200px;
}
.bookGallery img {
  margin: 30px 0px;
}
.slide1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.slide2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.bookGallery h1 {
  text-align: center;
  color: #232323;
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 137.5% */
  text-transform: uppercase;
}
/* bookGallery end */

/* detail start */
.detail {
  padding: 60px 150px;
}
.detail h1 {
  margin: auto 0px;
  color: #232323;

  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 137.5% */
  text-transform: uppercase;
  width: 556px;
}
.firstH1 {
  margin-left: 80px !important;
  text-align: right;
}
.detail img {
  height: 350px;
  width: 400px;
  border-radius: 12px;
}
.firstH2 {
  margin-right: 80px !important;
}
/* detail end */

/* footer start */
.footer {
  background: #181c28;
  height: 660.788px;
  padding: 0px 150px;
}
.footer h1 {
  color: var(--text-white, #f8f8f8);
  font-family: Archivo;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer p {
  color: var(--text-white, #f8f8f8);
  font-family: Archivo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.8%;
  margin-bottom: 50px;
}
.footerContent img {
  width: 297px;
  height: 88px;
}
.footerContent img:last-child{
  margin-top: 30px;
}

/* footer end */

/* copyRight start */
.copyRight{
  padding: 60px 150px;
  background: #FFFCF9;
}
.copyRight p{
  text-align: center;
  color: var(--body-black, #404040);
font-family: Archivo;
font-size: 28px !important;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0px;
}
/* copyRight start */
